<div class="w-100 bg-dark rounded my-4">
  <div class="d-flex">



    <p class="text-light p-2 ml-auto m-2"><%= @comment.body %></p>


  </div>

</div>
<%= link_to 'show post', post_path(@post) , class:"btn btn-success"  %>